.formLogin {
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 15%;
  top: 10%;
  
  // background-color: cornflowerblue;
  transition: 1s;
  
  &--closed {
    top: -140px;
    transition: 1s;
  }

  &-inputs {
    display: flex;
    flex-direction: column;
    width: 50%;

    &-input {
      border-radius: 5px;
      border: 1px solid;
      margin: 0.2em;
      height: 1.7em;
      font-size: 1.02em;
    }

  }
  
  p {
    font-size: .8em;
    padding-top: .8em;
    color: rgb(22, 92, 161);
  }

  &-buttons {
    height: 100%;
    display: flex;
    align-items: center;

    &-myProfil {
      width: max-content;
    }
    &-disconnect {
      width: max-content;
    }
  }
  
  &-login {

    display: flex;
    background: rgb(224, 228, 235);
    border-radius: 10px;
    padding: 5px;
    margin-top: 0.6em;

    &:hover {
      background-color: rgb(181, 217, 236);
    }

    &-button {
      border: none;
      background: none;
      border-radius: 10px;
      // padding: 0px 10px 5px 10px;
      // padding-bottom: 5px;
      // padding-left: 10px;
      // padding-right: 10px;
    }
  }
}
