@use '../../../styles/vars';

.addAnnouncement-form {  
  display: flex;
  flex-direction: column;  
  align-items: center;
  border: 1px solid rgba(128,128,128,0.4);
  padding: 1.5em 0 1.5em 0;  
  width: 50%;
  margin: auto;
  background-color:rgba(225, 222, 222, 0.4);
  margin-top: 2em;

}

.textarea {
  resize: none;
  border-radius: 7px;

}
