@use '../../styles/vars';

.header {
  background-color: vars.$main-color;
  text-align: center;

  &-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-Link {
    
  }
}

img {
  max-width: 40%;
  height: auto;
  
}


