@use '../../styles/vars';

.footer {
  background-image: linear-gradient(to right, vars.$gradient-start 0%, vars.$gradient-end 100%);
  margin-top: 200px;
  
  padding: .4em;
  bottom: 0px;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  font-size: .95em;
  color: white;

  &-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
  }

  &-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  &-h1 {
    font-size: 2.3em;
    font-weight: bold;
    margin: 1em;
  }

  &-h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 1em;
  }

  &-h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em;
  }

  &-p {
    margin: 1em;
    text-align: center;
    line-height: 1.2em;
    font-size: .9em;
  }
}


@media screen and (max-width: 720px) {
  .footer {
    
    &-link {
      width: 25%;
    }

    &-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: auto;
      font-size: .8em;
    }
  }
}
